@use "./assets/styles/variables" as *;
@use "./assets/styles/global" as *;
@use "assets/styles/breackpoints" as *;

html,
body {
  height: 100%;
  background-color: #ccc !important;
}

// Añade esta línea para ignorar el selector problemático
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
