// src/styles/variables.scss

// Breakpoints
$breakpoint-sm: 576px; // Dispositivos pequeños (móviles)
$breakpoint-md: 768px; // Dispositivos medianos (tablets)
$breakpoint-lg: 992px; // Dispositivos grandes (desktops)
$breakpoint-xl: 1200px; // Dispositivos muy grandes

// Variables generales
$navbar-height: 80px !important; // Altura fija del navbar
$logo-max-height: 40px; // Altura máxima del logo en pantallas pequeñas
